.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.content-container .app-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  justify-content: center;
}

.content-container a:link, .content-container a:visited {
  text-decoration: none;
}

.content-container .app-button:hover {
  opacity: 0.8;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s, border-bottom-color ease-in-out 0.25s;
}

.app-container {
  max-height: 100vh;
  overflow: visible;
  color: black;
}

.view-container {
  display: flex;
  color: black;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 5%;
}

.header .header-link {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  border: 1px black solid;
  box-sizing: border-box;
}

.header .header-link a {
  width: 100%;
  text-align: center;
}

.redBg {
  background-color: red;
  border-radius: 51px;
  color: white;
  padding: 5px;
}

.zzz {
  background: yellow;
  display: flex;
  justify-content: center;
}

.factory-container {
  display: flex;
  color: black;
  font-size: 20px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
}

.factory-container .factory-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.factory-container .factory-header .header-element {
  align-items: center;
}

.factory-container .factory-header .factory-name {
  display: flex;
  text-align: center;
  background: #02daff;
  justify-content: center;
  align-items: center;
}

.factory-container .factory-header .quote {
  display: flex;
  flex: 1 0 67%;
  justify-content: flex-start;
  padding-left: 3%;
}

.factory-container .factory-header .author {
  display: flex;
  flex: 1 0 30%;
  justify-content: center;
  align-items: center;
}

.factory-container .factory-selection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.factory-container .factory-selection .factory-plate {
  border: 1px darkblue solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-collapse: collapse;
  flex: 1;
}

.factory-container .factory-selection .factory-plate a {
  font-weight: normal;
}

.factory-container .factory-selection .factory-plate-chosen {
  background: #adff2f63;
}

.factory-container .factory-selection .factory-plate-chosen a {
  font-weight: bold;
}

.factory-container .factory-content {
  display: flex;
  flex: 8;
  flex-direction: row;
  border-top: 1px solid black;
  overflow: hidden;
}

.factory-container .factory-content .factory-production-table {
  display: flex;
  flex: 2;
  border-right: 1px solid black;
  box-sizing: border-box;
  overflow: overlay;
}

.factory-container .factory-content .factory-production-rose {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}
